extends layout

block content

  if user.parking > 0
    - parkings.forEach((parking) => {
      if parking.id === user.parking
        - const m = moment(parking.timestamp).subtract(1, 'm');
        - const hours = moment().diff(m, 'hours');
        - const minutes = moment().diff(m, 'minutes');
        .parking-entried
          .flexbox
            .left
              .status-label 入庫中
              .time #{hours > 0 ? `${hours}時間` : ''}#{`${minutes >= 10 ? '0' : ''}${minutes % 60}`.slice(-2)}分
            .right
              .parking-name
                | #{parking.name}
                small （#{parking.description}）
              .used-points
                span.label 消費ポイント
                | #{minutes}ポイント
          a.btn.btn-center.btn-success.btn-sm(href="/leave") 出庫
    - });

  h1 駐車場状況
  
  ul.parking-list
    each parking in parkings
      li
        if parking.isParkable == 1
          .parking-status.empty 空
        else
          .parking-status.full 満
        .parking-name
          | #{parking.name}
          small= parking.description
        if parking.isParkable == 1 && user.parking == -1
          a(href=`/parking/${parking.id}`) 入庫
        else if parking.isParkable == 1
          a.disabled 入庫
        else
          a.disabled
            span.ion-android-close
    
  h1 ポイント
  
  table.table
    
    tr
      th 所持ポイント
      td(class=(user.point < 0 && 'danger')) #{user.point}pt
  
  a.btn.btn-center.btn-primary.btn-sm(href="/charge") チャージ
    
  h2 ポイントログ

  ul.point-log
    each item in pointLog
      li
        .timestamp= item.timestamp.replace(/-/g, '/')
        p.action
          if item.chargedBy == 'system'
            span.point(class=(item.charged < 0 ? 'danger' : 'success')) #{item.charged}pt
            | ポイントチャージしました 
          else
            span.point(class=(item.charged < 0 ? 'danger' : 'success')) #{item.charged}pt
            | 「
            each parking in parkings
              if item.chargedBy == `parking:${parking.id}`
                | #{parking.name}
            | 」に #{-item.charged} 分 駐車しました 