<!DOCTYPE html>
html(lang="ja")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ログビューアー
    link(rel="stylesheet", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="/stylesheets/viewer.css")
body
    
        nav.viewer-navbar
            .navbar-container
                .navbar-brand プチＰ ログビューアー
                .navbar-nav
                    .data-toggle-buttons
                        button.active 入出庫
                        button ポイント
                    button.nav-button.button-success ダウンロード
                .viewer-download
                    .download-list
                        a.list-item(href="#") parking_list.csv
                        a.list-item(href="#") point_logs.csv

        #parkingLogs.container
            table
                thead
                    tr
                        th #
                        th 利用者
                        th 駐車マス
                        th 操作
                        th 時刻
                tbody
                    - let i = 0
                    - const entried = {}
                    each item  in data
                        if item.type.match(/^parking\./)
                            - i ++
                            tr
                                td= i
                                td= item.userId
                                td= parkings[item.parkingId].name
                                td
                                    if item.type.match(/\.entry$/)
                                        - entried[item.userId] = item.timestamp
                                        .entry 入庫
                                    if item.type.match(/\.leave$/)
                                        .leave 出庫
                                td= moment(item.timestamp).format('YYYY/MM/DD A hh:mm:ss')
        
        #pointLogs.container
            table
                thead
                    tr
                        th #
                        th 利用者
                        th 操作
                        th 変化
                        th 時刻
                tbody
                    - let j = 0
                    each item in data
                        if item.type.match(/^point\./)
                            - j ++
                            tr
                                td= j
                                td= item.userId
                                td
                                    if item.charged === 'system'
                                        | チャージ
                                    if item.charged && item.charged.match(/^parking/)
                                        | 料金支払
                                td
                                    - const amount = `${item.amount}`.replace(/(\d)(?=(\d{3})+$)/g , '$1,')
                                    if item.amount < 0
                                        .paid= amount
                                    else
                                        .charge= `+${amount}`
                                td= moment(item.timestamp).format('YYYY/MM/DD A hh:mm:ss')